@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Open+Sans:wght@500&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    --font-alternative: 'Montserrat Alternates', sans-serif;
    --font-title: 'Open Sans', sans-serif;
    --color-red: #CE2727;
    --bg-grey: #CCC;
    --border-clara: #EEE;
    --color-yellow: #FFD900;
}

.card {
    border: 2px outset var(--border-clara);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    background-color: var(--bg-grey);
    border-radius: 10px;
}

.card:hover {
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.link {
    width: 250px;
    text-decoration: none;
}

img {
    width: 100%;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0;
    align-items: center;
    color: #000;
    background-color: var(--color-yellow);
    width: 100%;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
    border-top: 2px outset #EEE;
}

.name-pokemon {
    font-size: 1.2rem;
    padding: 0 0 0 10px;
}

.abilities {
    font-size: 0.8rem;
    padding: 0 10px 0 0;
}