:root {
    --bg-dark: #111;
    --bg-grey: #EDEDED;
    --color-red: #CE2727;
    --color-yellow: #FFD900;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 1.4rem;
    text-align: center;
    color: var(--color-yellow);
    background-color: var(--bg-dark);
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title img {
    width: 50px;
    height: 50px;
    padding: 0 40px;
}

.button-routers {
    display: flex;
    flex-direction: row;
}

.nav li {
    list-style-type: none;
}

.nav li .link {
    text-decoration: none;
    color: #000;
    background-color: var(--color-yellow);
    padding: 8px 16px;
    margin: 20px;
    border-radius: 10px;
}